<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/artis.css">
    <title>Artist Info | {{ .Name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/styles/img/soufian_icon.png" type="image/png">
</head>

<body>
    <main>
        <aside class="sidebar">
            <div class="sidebar-info">
                <figure class="avatar-box">
                    <img src="{{ .Image }}" alt="{{ .Name }}" width="80">
                </figure>
                <div class="info-content">
                    <h1 class="name" title="{{ .Name }}">{{ .Name }}</h1>
                    <p class="title">Artist</p>
                </div>
            </div>

            <div class="sidebar-info_more">
                <div class="separator"></div>
                <ul class="contacts-list">
                    <li class="contact-item">
                        <div class="contact-info">
                            <p class="contact-title">Members:</p>
                            {{ range .Members }}
                            <p class="contact-link warp">{{ . }}</p>
                            {{ end }}
                        </div>
                    </li>
                    <li class="contact-item">
                        <div class="contact-info">
                            <p class="contact-title">Creation Date:</p>
                            <a class="contact-link">{{ .CreationDate }}</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <div class="contact-info">
                            <p class="contact-title">First Album:</p>
                            <time datetime="{{ .FirstAlbum }}">{{ .FirstAlbum }}</time>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="main-content">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <button id="showInfodate" class="navbar-link color">Date</button>
                    </li>
                    <li class="navbar-item">
                        <button id="showInfolocation" class="navbar-link">Locations</button>
                    </li>
                    <li class="navbar-item">
                        <button id="showInfoRelation" class="navbar-link">Relation</button>
                    </li>
                </ul>
            </nav>
            <article id="date" class="contact-artists">
                <header>
                    <h2 class="h2 article-title title">Date</h2>
                    <span class="prog"></span>
                </header>
                <h2 class="titles">About</h2>
                <section class="about-text animation">
                 
                        <div class="dates-description">
                            <p class="tit"><strong>{{.Name}}</strong> began their musical journey with the release of their debut album on <strong>{{.FirstAlbum}}</strong>. They have since become a leading name in their genre, known for their unique sound and impactful music.</p>
                        
                            <p>Their songs often reflect a commitment to important causes, making them more than just entertainers—they are voices for change. Their concerts are celebrated for fostering a sense of unity and shared purpose among fans.</p>
                        
                            <p>Recent notable performances include:</p>
                  
                        
                            <p>These dates represent just a fraction of their extensive touring history. <strong>{{.Name}}</strong> continues to inspire audiences around the world.</p>
                        </div>
                        <h2>Dates</h2>
                        <ul class="dates-artist">
                            {{range .Date}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                    
                        <p>These dates represent just a fraction of their extensive touring history. <strong>{{.Name}}</strong> continues to inspire audiences around the world.</p>

                </section>
            </article>
            <article id="location" class="contact-artists">
                <header>
                    <h2 class="h2 article-title title">Location</h2>
                    <span class="prog"></span>
                </header>
                <h2 class="titles">Locations</h2>
                <section class="about-text animation">
                    {{range .Location }}
                         <p>{{ . }}</p> 
                    {{end}}
                    <h1>My Location on Google Maps</h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.658925119197!2d-122.3996726846817!3d37.7866489797574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808e5b4a2b29%3A0x378d07e4f5c0c8a8!2s123%20Main%20St%2C%20San%20Francisco%2C%20CA%2094143!5e0!3m2!1sen!2sus!4v1605098723356!5m2!1sen!2sus"
                        width="600" 
                        height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy">
                    </iframe>
                </section>
            </article>
            <article id="relation" class="contact-artists">
                <header>
                    <h2 class="h2 article-title title">Relation</h2>
                    <span class="prog"></span>
                    <h2 class="titles">Relations</h2>
                    <div class="datesLocations animation">

                        <ul>
                            {{range $location, $dates :=
                            .DatesLocations}}
                            <div class="timeline-item">
                                <li>
                                    <strong
                                        class="institution">{{$location}}</strong>
                                    <ul>
                                        {{range $dates}}
                                        <li
                                            class="year">{{.}}</li>
                                        {{end}}
                                    </ul>
                                </li>
                            </div>
                            {{end}}
                        </ul>
                    </div>
                </header>
            </article>
        </div>
    </main>
    <script src="/styles/js/navigation.js"></script>
</body>

</html>